.group-icon,
.icon {
  width: 137px;
  position: relative;
  height: 51.88px;
  object-fit: cover;
}
.group-icon {
  width: 35px;
  height: 35px;
}
.navigation-bar,
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.parent {
  align-self: stretch;
  flex: 1;
  justify-content: space-between;
}
.navigation-bar {
  width: 390px;
  background-color: var(--color-white);
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.no1-laundry-service {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.focal-text-inner,
.no1-laundry-service-app-in-ua-wrapper {
<<<<<<< HEAD
  align-self: stretch;
=======
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue-100);

>>>>>>> Incoming
  display: flex;
  align-items: center;
  justify-content: center;
}
.no1-laundry-service-app-in-ua-wrapper {
  border-radius: 30px;
  background-color: var(--color-steelblue-100);
  flex-direction: row;
<<<<<<< HEAD
  padding: var(--padding-3xs) 15px;
=======
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);

>>>>>>> Incoming
}
.focal-text-inner {
<<<<<<< HEAD
=======
  display: flex;

>>>>>>> Incoming
  flex-direction: column;
<<<<<<< HEAD
  text-align: center;
=======
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
}
.wash-away-your {
<<<<<<< HEAD
  width: 323px;
=======
  margin-block-start: 0;
  margin-block-end: 9.46px;
}
.laundry-worries {
  margin: 0;
}
.wash-away-your-container {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  font-size: 51.47px;
=======
  font-size: var(--font-size-32xl-5);

>>>>>>> Incoming
  font-weight: 300;
  font-family: var(--font-grandstander);
<<<<<<< HEAD
  color: #83b926;
=======
  color: var(--color-yellowgreen);

>>>>>>> Incoming
  display: inline-block;
<<<<<<< HEAD
=======
  width: 433px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.b,
.focal-text-child {
  position: relative;
  flex-shrink: 0;
}
.focal-text-child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 396.68px;
  object-fit: cover;
}
.b {
  width: 145px;
  display: inline-block;
}
.happy {
  margin: 0;
}
.happy-customers {
  width: 76px;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
=======
.laundry-basket-is {
  font-weight: 500;

>>>>>>> Incoming
  font-family: var(--font-inter);
  color: var(--color-cadetblue);
  display: inline-block;
  flex-shrink: 0;
}
<<<<<<< HEAD
.group {
  width: 229px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.b1 {
  flex: 1;
  position: relative;
}
.years-of-experience-container {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
=======
.no1 {
  font-weight: 900;

>>>>>>> Incoming
  font-family: var(--font-inter);
  color: var(--color-cadetblue);
}
<<<<<<< HEAD
.container {
  width: 176px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
=======
.laundry-service-in {
  font-weight: 500;

>>>>>>> Incoming
}
<<<<<<< HEAD
.frame-parent {
  width: 297px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-rasa);
}
.laundry-basket-is {
=======
.we-will-wash {
  margin: 0;

>>>>>>> Incoming
  font-weight: 500;
}
<<<<<<< HEAD
.no1 {
  font-weight: 900;
=======
.laundry-basket-is-container {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.02em;

>>>>>>> Incoming
}
<<<<<<< HEAD
.laundry-basket-is-container {
  align-self: stretch;
=======
.consult {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
=======
  width: 493px;
  height: 66px;

>>>>>>> Incoming
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  color: var(--color-steelblue-100);
}
.download-now {
  width: 204px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.download-now-wrapper {
<<<<<<< HEAD
  align-self: stretch;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  border-radius: var(--br-21xl);
  background-color: var(--color-steelblue-100);
<<<<<<< HEAD
  box-shadow: 0 4px 10px rgba(33, 183, 226, 0.3);
=======
  box-shadow: 0px 4px 10px rgba(33, 183, 226, 0.3);

>>>>>>> Incoming
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  padding: 16px 85px;
=======
  padding: var(--padding-base) 85px;
}
.start {
  position: relative;
  width: 325px;
  height: 60px;

>>>>>>> Incoming
  text-align: center;
<<<<<<< HEAD
  font-size: 22px;
=======
  font-size: var(--font-size-3xl);

>>>>>>> Incoming
  font-family: var(--font-outfit);
}
.whatsapp-1-icon {
<<<<<<< HEAD
=======
  position: relative;

>>>>>>> Incoming
  width: 47px;
  position: relative;
  height: 47px;
  object-fit: cover;
}
.order-via-whatsapp1 {
  position: relative;
  text-transform: uppercase;
}
.whatsapp-1-parent {
<<<<<<< HEAD
  align-self: stretch;
=======
  width: 280px;

>>>>>>> Incoming
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.focal-text,
.order-via-whatsapp {
<<<<<<< HEAD
=======
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px #cdf0f9;
  height: 60px;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-via-whatsapp {
  width: 323px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px #cdf0f9;
  padding: 12px var(--padding-xl);
  box-sizing: border-box;
<<<<<<< HEAD
  font-size: 20px;
=======
  font-size: var(--font-size-xl);

>>>>>>> Incoming
  color: var(--color-black);
  font-family: var(--font-outfit);
}
<<<<<<< HEAD
=======
.b {
  position: relative;
}
.happy-customers {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-cadetblue);
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.customer-and-experience {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.stats {
  position: relative;
  width: 387px;
  height: 61px;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-rasa);
}

>>>>>>> Incoming
.focal-text {
<<<<<<< HEAD
  align-self: stretch;
  padding: 0 46px;
  gap: 31px;
=======
  height: 544px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-12xl);

>>>>>>> Incoming
}
<<<<<<< HEAD
.get-it-done,
.how-it-works1 {
=======
.shoes-icon {

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
  display: inline-block;
  flex-shrink: 0;
=======
  width: 645.9px;
  height: 732px;

>>>>>>> Incoming
}
<<<<<<< HEAD
=======
.focal-text-parent {
  width: 1440px;
  height: 868px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 84px;
  box-sizing: border-box;
  gap: 160px;
  z-index: 0;
}

>>>>>>> Incoming
.how-it-works1 {
<<<<<<< HEAD
  width: 171px;
=======
  position: absolute;
  top: 0px;
  left: calc(50% - 97.5px);

>>>>>>> Incoming
  text-transform: uppercase;
<<<<<<< HEAD
  height: 25px;
=======
  display: inline-block;
  width: 195px;
  height: 31px;

>>>>>>> Incoming
}
.get-it-done {
<<<<<<< HEAD
  width: 364px;
  font-size: 42px;
=======
  position: absolute;
  top: 45px;
  left: calc(50% - 367.5px);
  font-size: var(--font-size-41xl);

>>>>>>> Incoming
  font-weight: 500;
  font-family: var(--font-outfit);
<<<<<<< HEAD
  height: 105px;
=======
  display: inline-block;
  width: 735px;
  height: 65px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.how-it-works-parent {
  width: 364px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
=======
.header {
  position: relative;
  width: 735px;
  height: 110px;

>>>>>>> Incoming
}
.pickup1,
.step-1 {
<<<<<<< HEAD
=======
  align-self: stretch;

>>>>>>> Incoming
  position: relative;
<<<<<<< HEAD
=======
  text-transform: uppercase;

>>>>>>> Incoming
  display: inline-block;
<<<<<<< HEAD
=======
  height: 16px;

>>>>>>> Incoming
  flex-shrink: 0;
}
.step-1 {
  align-self: stretch;
  text-transform: uppercase;
  height: 18.37px;
}
.pickup1 {
<<<<<<< HEAD
  width: 252.56px;
  font-size: 34.44px;
=======
  position: relative;
  font-size: var(--font-size-11xl);

>>>>>>> Incoming
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-darkslategray);
<<<<<<< HEAD
  height: 44.77px;
=======
  display: inline-block;
  width: 220px;
  height: 39px;
  flex-shrink: 0;

>>>>>>> Incoming
}
.address-bro-1-icon {
  width: 229.6px;
  position: relative;
<<<<<<< HEAD
  height: 236.48px;
=======
  width: 200px;
  height: 206px;

>>>>>>> Incoming
  object-fit: cover;
}
<<<<<<< HEAD
.pickup,
.pickup-wrapper {
  height: 367.35px;
=======
.pickup {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  height: 320px;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pickup {
  border-radius: 22.96px;
  background-color: var(--color-white);
  justify-content: center;
<<<<<<< HEAD
  padding: 20.663677215576172px 0;
=======
  padding: var(--padding-lg) 0px;

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
  gap: 13.78px;
=======
  gap: var(--gap-xs);

>>>>>>> Incoming
}
.pickup-wrapper {
  width: 252.56px;
  justify-content: flex-start;
}
.step-2 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
<<<<<<< HEAD
  height: 18.37px;
=======
  height: 16px;

>>>>>>> Incoming
  flex-shrink: 0;
  z-index: 0;
}
<<<<<<< HEAD
=======
.wash-dry1 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 220px;
  height: 39px;
  flex-shrink: 0;
  z-index: 1;
}

>>>>>>> Incoming
.laundry-and-dry-cleaning-bro {
  width: 229.6px;
  position: absolute;
  margin: 0 !important;
<<<<<<< HEAD
  top: 148.09px;
  left: 11.48px;
  height: 165.31px;
=======
  top: 129px;
  left: 10px;
  width: 200px;
  height: 144px;

>>>>>>> Incoming
  object-fit: cover;
  z-index: 2;
}
.iron-fold,
.wash-dry {
<<<<<<< HEAD
  width: 252.56px;
  position: relative;
}
.wash-dry {
  border-radius: 22.96px;
=======
  border-radius: var(--br-xl);

>>>>>>> Incoming
  background-color: var(--color-white);
<<<<<<< HEAD
  height: 367.35px;
=======
  height: 320px;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
<<<<<<< HEAD
  padding: 20.663677215576172px 0;
=======
  padding: var(--padding-lg) 0px;

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
  gap: 13.78px;
=======
  position: relative;
  gap: var(--gap-xs);

>>>>>>> Incoming
}
.iron-fold {
  font-size: 34.44px;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-darkslategray);
  display: inline-block;
  height: 44.77px;
  flex-shrink: 0;
  z-index: 1;
}
.laundry-and-dry-cleaning-bro-1 {
  width: 229.98px;
  position: absolute;
  margin: 0 !important;
<<<<<<< HEAD
  top: 123.98px;
  left: 11.48px;
  height: 204.34px;
=======
  top: 108px;
  left: 10px;
  width: 200.3px;
  height: 178px;

>>>>>>> Incoming
  object-fit: cover;
  z-index: 2;
}
.messenger-bro-1-icon {
  width: 225.96px;
  position: relative;
<<<<<<< HEAD
  height: 237.63px;
=======
  width: 196.8px;
  height: 207px;

>>>>>>> Incoming
  object-fit: cover;
}
.cards,
.delivery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery {
  width: 252.56px;
  border-radius: 22.96px;
  background-color: var(--color-white);
  height: 367.35px;
  flex-direction: column;
  padding: 20.663677215576172px 0;
  box-sizing: border-box;
  gap: 13.78px;
}
.cards {
  align-self: stretch;
<<<<<<< HEAD
=======
  display: flex;

>>>>>>> Incoming
  flex-direction: row;
  flex-wrap: wrap;
<<<<<<< HEAD
  gap: 46px;
  font-size: 25.26px;
  color: var(--color-steelblue-200);
=======
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  font-size: var(--font-size-3xl);
  color: var(--color-steelblue-300);

>>>>>>> Incoming
}
.foot-image-child,
.how-it-works {
<<<<<<< HEAD
=======
  align-self: stretch;

>>>>>>> Incoming
  background-color: var(--color-steelblue-100);
}
.how-it-works {
  width: 442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
<<<<<<< HEAD
  padding: 42px var(--padding-xl);
  box-sizing: border-box;
  gap: 48px;
=======
  padding: var(--padding-21xl) 220px;
  gap: 76px;
  z-index: 1;

>>>>>>> Incoming
  text-align: center;
<<<<<<< HEAD
  font-size: 25px;
=======
  font-size: var(--font-size-6xl);

>>>>>>> Incoming
  font-family: var(--font-grandstander);
}
.foot-image-child {
  align-self: stretch;
  border-radius: 54.29px;
  height: 180.95px;
  z-index: 0;
}
.hard-time-deciding {
  margin-block-start: 0;
<<<<<<< HEAD
  margin-block-end: 4.52px;
=======
  margin-block-end: 10px;

>>>>>>> Incoming
}
.hard-time-deciding-container {
<<<<<<< HEAD
  align-self: stretch;
=======
  position: relative;

>>>>>>> Incoming
  letter-spacing: 0.02em;
<<<<<<< HEAD
  z-index: 0;
=======
  font-weight: 600;

>>>>>>> Incoming
}
<<<<<<< HEAD
.hard-time-deciding-container,
=======
.group-child {
  position: absolute;
  top: 0px;
  left: calc(50% - 110px);
  border-radius: var(--br-101xl);
  background-color: var(--color-white);
  width: 220px;
  height: 60px;
}

>>>>>>> Incoming
.learn-more {
<<<<<<< HEAD
  position: relative;
=======
  position: absolute;
  top: 17px;
  left: calc(50% - 53px);

>>>>>>> Incoming
  font-weight: 600;
}
<<<<<<< HEAD
.hard-time-deciding-whats-best,
.learn-more-wrapper {
=======
.rectangle-parent {
  position: relative;
  width: 220px;
  height: 60px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.hard-time-deciding-whats-best1 {

>>>>>>> Incoming
  margin: 0 !important;
  position: absolute;
<<<<<<< HEAD
=======
  top: 69px;
  left: 603px;

>>>>>>> Incoming
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  z-index: 1;
}
.learn-more-wrapper {
  top: 99.24px;
  left: 214.01px;
  border-radius: 54.29px;
  background-color: var(--color-white);
  height: 27.61px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
=======
  flex-direction: column;

>>>>>>> Incoming
  align-items: center;
<<<<<<< HEAD
  padding: 4.314680099487305px 15.532848358154297px;
  box-sizing: border-box;
  font-size: 12.72px;
  color: var(--color-black);
=======
  justify-content: flex-start;
  gap: 41px;
  z-index: 0;

>>>>>>> Incoming
}
<<<<<<< HEAD
.hard-time-deciding-whats-best {
  width: 381.42px;
  top: 22.35px;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  gap: 18.55px;
}
.foot-image {
  align-self: stretch;
=======
.hard-time-deciding-whats-best-wrapper {
  position: absolute;
  top: 100px;
  left: 0px;
  border-radius: var(--br-101xl);
  background-color: var(--color-steelblue-100);
  width: 1280px;
  height: 400px;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;
  justify-content: flex-end;
  position: relative;
=======
  align-items: flex-start;
  justify-content: flex-start;

>>>>>>> Incoming
}
.thinking-face-bro-1 {
<<<<<<< HEAD
  width: 205.69px;
  position: relative;
  height: 226.19px;
=======
  position: absolute;
  top: 0px;
  left: 65px;
  width: 500px;
  height: 500px;

>>>>>>> Incoming
  object-fit: cover;
  margin-top: -99.24px;
}
<<<<<<< HEAD
.foot-image-parent {
  width: 336.55px;
=======
.foot-image {
  position: relative;
  width: 1280px;
  height: 500px;
}
.hard-time-deciding-whats-best {
  width: 1440px;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: flex-start;
  justify-content: flex-start;
=======
  align-items: center;
  justify-content: center;
  z-index: 2;

>>>>>>> Incoming
  text-align: center;
<<<<<<< HEAD
  font-size: 27.14px;
=======
  font-size: var(--font-size-41xl);

>>>>>>> Incoming
  font-family: var(--font-outfit);
}
<<<<<<< HEAD
.icon1 {
  width: 207.76px;
  position: relative;
  height: 79.97px;
  object-fit: cover;
=======
.footer-child {
  position: absolute;
  top: 0px;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1440px;
  height: 282px;

>>>>>>> Incoming
}
.wrapper {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 7px 18px;
}
.t-us {
  letter-spacing: 0.02em;
}
.about-us {
<<<<<<< HEAD
  width: 81px;
  position: relative;
=======
  position: absolute;
  top: 0px;
  left: 0px;

>>>>>>> Incoming
  font-size: var(--font-size-lg);
  display: inline-block;
<<<<<<< HEAD
=======
  width: 81px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.about-us1,
.creators,
.philosophy {
=======
.about-us1 {
  position: absolute;
  top: 49px;
  left: 0px;
  font-weight: 500;
  display: inline-block;

>>>>>>> Incoming
  width: 70px;
<<<<<<< HEAD
  position: relative;
=======
}
.creators {
  position: absolute;
  top: 84px;
  left: 0px;

>>>>>>> Incoming
  font-weight: 500;
  display: inline-block;
}
.creators,
.philosophy {
  width: 67px;
}
.philosophy {
<<<<<<< HEAD
=======
  position: absolute;
  top: 119px;
  left: 0px;
  font-weight: 500;
  display: inline-block;

>>>>>>> Incoming
  width: 84px;
}
<<<<<<< HEAD
.about-us-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
=======
.contact-us {
  position: absolute;
  top: 154px;
  left: 0px;
  font-weight: 500;
  display: inline-block;
  width: 84px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.company {
  width: 85px;
  position: relative;
  font-size: var(--font-size-lg);
=======
.our-team {
  position: absolute;
  top: 49px;
  left: 147px;
  font-weight: 500;

>>>>>>> Incoming
  display: inline-block;
<<<<<<< HEAD
=======
  width: 71px;

>>>>>>> Incoming
}
.how-it-works2,
.our-team,
.terms {
<<<<<<< HEAD
  width: 71px;
  position: relative;
=======
  position: absolute;
  top: 84px;
  left: 147px;

>>>>>>> Incoming
  font-weight: 500;
  display: inline-block;
}
.how-it-works2,
.terms {
  width: 48px;
}
.how-it-works2 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 119px;
  left: 147px;
  font-weight: 500;
  display: inline-block;

>>>>>>> Incoming
  width: 100px;
}
.blog {
<<<<<<< HEAD
  width: 34px;
=======
  position: absolute;
  top: 154px;
  left: 147px;

>>>>>>> Incoming
  font-weight: 500;
}
.blog,
.drop-off,
.pickup2,
.services {
  position: relative;
  display: inline-block;
<<<<<<< HEAD
=======
  width: 34px;

>>>>>>> Incoming
}
.services {
  width: 78px;
  font-size: var(--font-size-lg);
}
.drop-off,
.pickup2 {
<<<<<<< HEAD
=======
  position: absolute;
  top: 49px;
  left: 314px;
  font-weight: 500;
  display: inline-block;

>>>>>>> Incoming
  width: 52px;
  font-weight: 500;
}
.drop-off {
<<<<<<< HEAD
=======
  position: absolute;
  top: 84px;
  left: 314px;
  font-weight: 500;
  display: inline-block;

>>>>>>> Incoming
  width: 63px;
}
<<<<<<< HEAD
.services-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
=======
.laundry {
  position: absolute;
  top: 119px;
  left: 314px;
  font-weight: 500;
  display: inline-block;
  width: 63px;

>>>>>>> Incoming
}
<<<<<<< HEAD
=======
.company {
  position: absolute;
  top: 0px;
  left: 147px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 85px;
}
.services {
  position: absolute;
  top: 0px;
  left: 314px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 78px;
}

>>>>>>> Incoming
.check-us-out {
<<<<<<< HEAD
=======
  position: absolute;
  top: 0px;
  left: 468px;
  font-size: var(--font-size-lg);
  display: inline-block;

>>>>>>> Incoming
  width: 116px;
  position: relative;
  display: inline-block;
}
.iconfacebook {
<<<<<<< HEAD
=======
  position: absolute;
  top: 47px;
  left: 468px;

>>>>>>> Incoming
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
<<<<<<< HEAD
.iconfacebook-parent {
  flex-direction: row;
  gap: var(--gap-xl);
=======
.iconinstagram {
  position: absolute;
  top: 47px;
  left: 512px;
  width: 24px;
  height: 24px;
  overflow: hidden;

>>>>>>> Incoming
}
<<<<<<< HEAD
.check-us-out-parent,
.iconfacebook-parent,
=======
.iconlinkedin {
  position: absolute;
  top: 47px;
  left: 556px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

>>>>>>> Incoming
.nav-b-text {
<<<<<<< HEAD
=======
  position: absolute;
  top: 49px;
  left: 776px;
  width: 584px;
  height: 173px;
}
.footer {
  position: relative;
  width: 1440px;
  height: 282px;
  z-index: 3;
  color: var(--color-darkslategray);
}
.website-child {
  position: absolute;
  margin: 0 !important;
  top: 1983px;
  left: 140px;
  width: 300.1px;
  height: 199.5px;
  z-index: 4;
}
.icon {
  position: relative;
  width: 208.1px;
  height: 64px;
  object-fit: cover;
}
.home-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 531px;

>>>>>>> Incoming
  display: flex;
<<<<<<< HEAD
=======
  flex-direction: row;

>>>>>>> Incoming
  align-items: flex-start;
<<<<<<< HEAD
  justify-content: flex-start;
=======
  justify-content: space-between;

>>>>>>> Incoming
}
<<<<<<< HEAD
.check-us-out-parent {
  flex-direction: column;
  gap: 25px;
  font-size: var(--font-size-lg);
=======
.navigation-bar-inner {
  position: relative;
  width: 531px;
  height: 27px;

>>>>>>> Incoming
}
<<<<<<< HEAD
.nav-b-text {
  width: 263px;
=======
.navigation-bar {
  margin: 0 !important;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gray);
  box-shadow: 0px 4px 4px rgba(185, 185, 185, 0.25);
  width: 1440px;
  height: 80px;
  display: flex;

>>>>>>> Incoming
  flex-direction: row;
<<<<<<< HEAD
  flex-wrap: wrap;
  padding: 24px 0;
=======
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) 78px;

>>>>>>> Incoming
  box-sizing: border-box;
<<<<<<< HEAD
  gap: 69px;
=======
  z-index: 5;
  font-size: var(--font-size-3xl);
  color: var(--color-steelblue-200);

>>>>>>> Incoming
}
<<<<<<< HEAD
.frame-group,
.mobile-version {
  overflow: hidden;
=======
.website {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;

>>>>>>> Incoming
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center;
=======
  align-items: flex-start;

>>>>>>> Incoming
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  background-color: #cfecff;
  color: var(--color-darkslategray);
}
.mobile-version {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue);
  gap: 24px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
